header {
  background: white;
  padding: 10px;
}
header h1 {
  margin:0;
}
body {
  background: #BDBDBD;
  margin:0;
}
div {
  box-sizing: border-box;
}
div.container {
  margin: auto;
  width:500px;
  font-family: 'Poppins', sans-serif;
}
div.post {
  background: white;
  margin-top: 40px;
}
div.post img {
  width:100%;
}
div.post h2, div.post p{
  padding:15px;
  margin:0;
}
div.post .post-header div:first-child{
  display: inline-block;
  width:80%;
}
div.post .post-header div:last-child{
  display: inline-block;
  width:20%;
  text-align: right;
  padding:10px;
  color: gray;
}
